*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

.container {
  height: 100vh;
  max-width: 134rem;
  margin: 0 auto;
}

/* NAVBAR */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 6rem;
}

.navbar-container div img {
  height: 4rem;
}

.list {
  list-style: none;
  display: flex;
}

.list-item {
  margin-right: 3.5rem;
  position: relative;
}

.list-item a:link,
.list-item a:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  color: #222;
  position: relative;
}

.list-item a:hover {
  font-weight: 800;
}

.list-item a:hover::after {
  content: " ";
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 60%;
  transform: translateX(45%);
  bottom: -0.2rem;
  background-color: #222;
}

.button-group {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 1.2rem;
}

.nav-button {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #686868;
  border: 0.2rem solid #222;
  border-radius: 1rem;
  padding: 0.2rem 3.2rem;
}

.hero-container {
  display: flex;
  padding: 3.2rem 6rem;
  position: relative;
}

.hero-container img {
  height: 42rem;
}

.square img {
  position: absolute;
  height: 30rem;
  top: 20rem;
  left: 16rem;
  z-index: -1;
}

.star img {
  position: absolute;
  height: 4rem;
  left: 42%;
  bottom: 15%;
}

.star-2 img {
  position: absolute;
  height: 4.4rem;
  right: 10%;
  top: 5%;
}

.globe img {
  position: absolute;
  height: 4.4rem;
  left: 50%;
  transform: translateY(-60%);
}

.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0;
  margin-left: 12rem;
}

.hero-heading {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-family: "orbitron", sans-serif;
}

.hero-description {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  letter-spacing: 1.1;
  color: #686868;
  margin-top: -4rem;
  padding: 8rem;
  text-align: center;
}

.button-email {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  color: #686868;
  background-color: #ffffff;
  border: 0.16rem solid #222;
  border-radius: 0.5rem;
  padding: 0.3rem 2rem;
  margin-right: 1rem;
}

.button-join {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Orbitron", sans-serif;
  background-color: #222;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  border: none;
}

.contact-heading {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #686868;
  margin-top: 8rem;
}

.icons {
  text-align: center;
  margin-top: 1.5rem;
}

.icons span img {
  height: 3rem;
  margin-right: 1rem;
}
